.modal-dialog {
  width: 80%;
  height: 80%;
}
.modal-content {
  height: auto;
}

.pad{
	margin-bottom:10px;
}

.alert {
  width: 50%;
  height: 50%;
}

body{
	width:100%;
	overflow-x:hide;
}
.borde{
	border: #544cff solid 1px;
    border-radius:5px;
    box-shadow: 0px 0px 8px #5de7ff;
}
.minAlt{
    min-height: 200px;
}
.maxAlt{
    max-height: 200px;
	overflow-y:auto;
}
.tableAlt{
	height: 260px;
	overflow-y:auto;
}

.magenInterno{
	padding:0 0 10px 10px;
}


div.cover-image {
    background-size: contain;
}
.derecha th {
   text-align: right;   
}


.top-marg10{
	margin-top:10px;
}

.stockTable{
	height:300px;
	/*border:solid red 1px;*/
	overflow:auto;
}
.low{
	background-color:#ff6666;
}
.objectModal{
	width:100%;
}
